body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F8F3FD;
}
.navbar a {
  text-decoration: none;
  color: black;
  padding: 20px;
}
.navbar a:hover {
  text-decoration: underline;
}
.btn1{
 color: black;
 background-color: #F8F3FD;
 border: none;
 transition: background 0.3s ease;
 margin-right: 10px;
}
.btn1:hover {
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: indigo;
  color: white;
  font-weight: 300;
}
.btn2 {
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: indigo;
  color: white;
  font-weight: 300;
  transition: background 0.3s ease;
}
.btn2:hover {
  color: black;
  background-color: #F8F3FD;
  border: none;
}
.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 10px;
}
.main-content h1 {
  font-size: 70px;
}
.welcome-button {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid indigo;
  background-color: white;
  font-size: 15px;
}
.welcome-button:hover {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid indigo;
  background-color: indigo;
  color: white;
  font-size: 15px;
  transition: background 0.5s ease;
}
.subtext {
  color: #333;
  font-size: 30px;
  max-width: 680px;
}
.get-started {
  padding: 10px;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background-color: #60269E;
  color: white;
  font-weight: bold;
  font-size: 18px;
 
}
.get-started:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  transition: background 0.5s ease;
}
aside {
  background-color: #F7F0FF;
  height: 300px;
}
aside h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 40px;
}
.main-category {
  max-width: 700px;
  display: flex;
  margin-left: 200px;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
}
.icon-box {
  /* max-width: 100px; */
  display: flex;
  flex-direction: row;
}
.main-category img {
  height: 60px;
  padding-top: 30px;
}
.icon-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.icon-text1 {
  font-weight: bold;
  font-size: 25px;
}
.icon-text2 {
  font-weight: bold;
  color: #5E00D0;
  padding-bottom: 10px;
  position: relative;
  top: -30px;
}
.our-story {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.our-story h1 {
  font-size: 70px;
}
.our-story h2 {
  font-size: 35px;
}
.our-story img {
  border-radius: 20px;
}
.our-story p {
  font-size: 25px;
  color: #333;
}
.africa-text {
  color: #5E00D0;
}
.project-based {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project-based h1 {
  font-size: 70px;
}
.project-based h2 {
  font-size: 30px;
}
.rectangle {
  background-color: #F7F0FF;
  width: 85%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}
.project-based p {
  color: #333;
  max-width: 540px;
  font-size: 20px;
  text-align: center;
  position: relative;
}
.thrive {
  margin-top: 70px;
   background-color: #F7F0FF;
   padding: 50px;
}
.thrive h1 {
  font-size: 50px;
}
.thrive li p {
  font-size: 20px;
  color: #333;
}
.highlights {
  font-weight: bold;
}
.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.laptopImg {
  height: 400px;
  border-radius: 20px;
}
.splash-img {
  position: absolute;
  top: 158rem;
  right: 30px;
}
.career {
  margin-top: 10rem;
  background-color: #60269E;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.career h1 {
  color: white;
  font-size: 3rem;
}
.career p {
  color: white;
}
.course-button {
  border-radius: 10px;
  height: 60px;
  width: 120px;
  background-color: #60269E;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.course-button:hover {
  border-radius: 10px;
  height: 60px;
  width: 120px;
  background-color: white;
  border-width: 2px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  transition: background 0.5s ease;
}
.group-image {
  position: relative;
  top: 70px;
  right: 40px;
  height: 250px;
}
.course-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 50px;
}
.mentors {
  margin-top: 150px;
}
.mentors .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mentors .heading h1 {
  font-size: 3rem;
}
.mentors .heading p {
  text-align: center;
  position: relative;
  bottom: 30px;
  letter-spacing: 2px;
  color: #5A5959;
  font-weight: normal;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.card {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  border:1px solid #5A5959;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card1 .ato-image {
  border-radius: 50%;
  position: relative;
  top: 5px;
}
.profile-name {
  font-size: 25px;
}
.position {
  position: relative;
  bottom: 20px;
  color: #5E00D0;
}
.description {
 position: relative;
 left: 8px;
 font-size: 18px;
 bottom: 30px;
 color: #5A5959;
 text-align: center;
}
.icon-container {
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 30px;
}
.card2 .ato-image {
  border-radius: 50%;
  position: relative;
  top: 5px;
}
.profile-name-florian {
  font-size: 25px;
}
.developer-description {
  color: #5A5959;
  font-size: 18px;
  position: relative;
  left: 8px;
  bottom: 30px;
  text-align: center;
}
.paul-image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
}
.profile-name-paul {
  font-size: 25px;
  position: relative;
  bottom: 15px;
}
.position-paul {
  position: relative;
  bottom: 32px;
  color: #5E00D0;
}
.developer-description-paul {
  color: #5A5959;
  font-size: 18px;
  position: relative;
  left: 8px;
  bottom: 40px;
  text-align: center;
}
.marvin-image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  /* bottom: 5px; */
  top: 10px;
}
.profile-name-marvin {
  font-size: 25px;
  position: relative;
  /* bottom: 10px; */
}
.position-marvin {
  position: relative;
  bottom: 20px;
  color: #5E00D0;
}
.developer-description-marvin {
  color: #5A5959;
  font-size: 18px;
  position: relative;
  left: 8px;
  bottom: 25px;
  text-align: center;
}
footer {
  background-color: #101828;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer p {
  color: white;
}
footer h1 {
  color: white;
}
.devX {
  display: flex;
  gap: 20px;
}
.header-text-dev {
  font-weight: bold;
  font-size: 20px
}
footer a {
  color: white;
  text-decoration: none;
  /* text-align: center; */
}
